<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head">
</head>
<body>
<div id="content" class="container">
    <h2>Login</h2>
    <form th:action="@{/login}" th:object="${userDataLogin}" method="post">
        <table>
            <tr>
                <td>User name:</td>
                <td><input class="form-control" type="text" th:field="*{username}" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input class="form-control" type="password" th:field="*{password}" /></td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-default" id="signin" type="submit">Sign in</button>
                </td>
            </tr>
        </table>
    </form>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
</div>
</body>
</html>