<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/header :: login_navigation"></div>
<div id="content" class="container">
    <h2>Create your account</h2>
    <form action="#" th:action="@{/registration}" th:object="${userData}" method="post">
        <table>
            <tr>
                <td>User name:</td>
                <td><input class="form-control" type="text" th:field="*{username}"/></td>
                <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Login Error</td>
                <td th:if="${existingUsername}" th:text="${existingUsername}">Existing username error</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input class="form-control" type="password" th:field="*{password}"/></td>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
            </tr>

            <tr>
                <td>Confirm password:</td>
                <td><input class="form-control" type="password" th:field="*{confirmPassword}"/></td>
                <td th:if="${differentPasswords}" th:text="${differentPasswords}">Confirmation password error</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input class="form-control" type="text" th:field="*{email}"/></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
                <td th:if="${existingEmail}" th:text="${existingEmail}">Existing email error</td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-default" id="register" type="submit">Register</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>