<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/header :: navigation"></div>
    <div class="container">
        <div class="card">
            <div class="card-block">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Target date</th>
                            <th>Is it done?</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="task : ${tasks}">
                            <td th:text="${task.description}"></td>
                            <td th:text="${task.targetDate}"></td>
                            <td th:text="${task.done}"></td>
                            <td th:hidden="hidden" class="id" th:text="${task.task_id}"></td>

                            <form action="#" th:action="@{'/updateTodo/' + ${task.task_id}}" method="get">
                                <td>
                                    <button class="btn btn-success">Update</button>
                                </td>
                            </form>

                            <form action="#" th:action="@{'/deleteTodo/' + ${task.task_id}}" method="post">
                                <td>
                                    <button class="btn btn-warning">Delete</button>
                                </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>